body, html {
    margin: 50px;
    padding: 25px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #b63046;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    max-width: 1200px; /* Adjust based on your layout needs */
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

#game-container {
    width: 614.4px; /* Adjust based on your game's size */
    height: 921.6px; /* Adjust based on your game's size */
    background-color: #20232a;
    border: 5px solid #61dafb;
    box-shadow: 0 0 10px #61dafb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buyback-ui {
    width: 500px; /* Adjust as needed */
    padding: 20px;
    background-color: #43b982;
    border: 3px solid #61dafb;
    box-shadow: 0 0 5px #61dafb;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#buyback-ui h3 {
    text-align: center;
}

#game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #20232a;
    border: 3px solid #61dafb;
    box-shadow: 0 0 5px #61dafb;
}

#stats-container {
    margin-top: 14px;
    width: 120px
}

#stats-container h3 {
    color: #61dafb;
}


.piece-button {
    width: 60px; /* Set a minimum width */
    height: 60px; /* Set a minimum height */
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    background-size: contain; /* This will ensure the image fits within the button */
    background-repeat: no-repeat;
    background-position: center; /* Center the image within the button */
}

.hero {
    background-color: #b63046; /* Light grey background */
    padding: 20px; /* Add some padding around the content */
    text-align: center; /* Center the text */
    /* border-bottom: 2px solid #ddd; Add a subtle border */
}

.hero h1 {
    color: #333; /* Dark text color for the headline */
    font-size: 2.5rem; /* Large font size */
    margin-bottom: 10px; /* Space below the headline */
}

.hero .tagline {
    color: #383636; /* Medium-dark text color for the tagline */
    font-size: 1.2rem; /* Slightly larger font size */
    margin-top: 0; /* Reduce space above the tagline */
}

.info-container {
    position: relative;
    display: inline-block;
}

.info-icon {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff; /* Adjust based on your hero section's color scheme */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 240px; /* Increased width */
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 20px; /* Increased padding for more space */
    z-index: 1;
    left: 10px;
    bottom: -10px; /* Adjust this value to lower the dropdown */
    transform: translateY(100%); /* This moves the dropdown below the icon */
    color: #333;
}

.dropdown-content h3, .dropdown-content p, .dropdown-content ul {
    font-size: 16px; /* Adjust based on your preference */
}

/* Style to show the dropdown content */
.show {
    display: block;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #0056b3;
}

