body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #b63046;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    max-width: 90vw;
    width: 100%;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.container {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    flex-direction: column; /* Ensures elements stack vertically */
}

/* #title {
    padding-top: 4px;
} */

#game-container {
    width: 80vw;
    max-width: 614.4px;
    height: calc(80vw * 1.5); /* Maintain aspect ratio */
    max-height: 921.6px;
    background-color: #20232a;
    border: 5px solid #61dafb;
    box-shadow: 0 0 10px #61dafb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buyback-ui {
    width: 90vw;
    max-width: 500px;
    padding: 20px;
    background-color: #43b982;
    border: 3px solid #61dafb;
    box-shadow: 0 0 5px #61dafb;
    display: flex;
    flex-direction: column; /* Ensures elements stack vertically */
    gap: 7px;
}

#buyback-ui h3 {
    text-align: center;
}

#game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #20232a;
    border: 3px solid #61dafb;
    box-shadow: 0 0 5px #61dafb;
}

#stats-container {
    margin-top: 14px;
    width: 120px;
}

#stats-container h3 {
    color: #61dafb;
}

.piece-button {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hero {
    background-color: #b63046;
    padding: 20px;
    text-align: center;
}

.hero h1 {
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero .tagline {
    color: #ddd;
    font-size: 1.2rem;
    margin-top: 0;
}

.info-container {
    position: relative;
    display: inline-block;
}

.info-icon {
    font-size: 20px;
    cursor: pointer;
    position: relative;
    bottom: 10px;
    color: #fff;
    min-width: 200px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 240px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 20px;
    z-index: 1;
    left: 10px;
    bottom: -10px;
    transform: translateY(100%);
    color: #333;
}

.dropdown-content h3, .dropdown-content p, .dropdown-content ul {
    font-size: 16px;
}

.show {
    display: block;
}

.dropdown-content.show {
    display: block;
}

.dropdown-content button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #0056b3;
}

.highlight-circle {
    position: absolute;
    width: 65px;
    height: 65px;
    background-color: #A6A6A6;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
}

.invite-container {
    margin: 20px 0 0 0;
    padding: 15px;
    background-color: #20232a;
    border-radius: 5px;
    box-shadow: 0 0 5px #61dafb;
    text-align: center;
}

.invite-link {
    color: #61dafb;
    cursor: pointer;
}

.copy-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.copy-button:hover {
    background-color: #0056b3;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    #game-container {
        width: 90vw;
        height: calc(90vw * 1.5); /* Maintain aspect ratio */
    }

    #buyback-ui {
        width: 100%;
    }

    .main-container, .container {
        flex-direction: column;
        align-items: center;
    }

    #stats-container {
        width: 100%;
        text-align: center;
    }
}
